{% load static %}

{% block callToAction %}
<section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call Us for Information 24/7</h3>
        <p> 
        	   <i class="fa fa-phone" style="color:#18d26e">&nbsp;&nbsp;   </i> 042-3718 5340 <br/>
  <i class="fa fa-envelope" style="color:#18d26e">&nbsp;&nbsp;   </i>info@dmcmarkets.com <br/>
  <i class="fa fa-map-marker" style="color:#18d26e">&nbsp;&nbsp;   </i> 2nd Floor 36-Z DHA Phase-3 
	LAHORE,PAKISTAN

        .</p>
        <a class="cta-btn" href="">Call To Action</a>
      </div>
    </section><!-- #call-to-action -->
    {% endblock %}