{% load static %}

{% block certificates %}
{% include "header.html" %}
<br/>
<br/>
<br/>
<br/>
<br/>




<div class="content">
<div class="container_16 primary_content_wrap clearfix">
<div id="content" class="fullwidth">
      <div id="post-485" class="page post-485 type-page status-publish hentry">
          
        <p style="text-align: justify;"><a href="{% static 'img/pmex-logo.jpg' %}"><img class="alignleft  wp-image-487" alt="PMEX" src="{% static 'img/pmex-logo.jpg' %}" width="632" height="307" srcset="{% static 'img/pmex-logo.jpg' %} 1053w, {% static 'img/pmex-logo.jpg' %} 300w, {% static 'img/pmex-logo.jpg' %} 1024w" sizes="(max-width: 632px) 100vw, 632px" /></a><br/>


        Pakistan Mercantile Exchange is the first technology driven, web-based,demutualized commodity exchange in Pakistan. It is licensed and regulated by the Securities and Exchange Commission of Pakistan and has a 100 % Institutional shareholding.Pakistan Mercantile Exchange Limited started its operations in May 2007 as a fully electronic exchange with nationwide reach. PMEX is committed to provide a world-class commodity futures trading platform for market participants to trade in a wide spectrum of commodity derivatives, driven by best global practices, professionalism and transparency.Pakistan Mercantile Exchange is the first Exchange in Pakistan to employ modern risk management techniques based on Value-at-Risk with a pre-trade risk check in real time. The Exchange acts as a central counterparty to both buyers and sellers through a novation process and provide clearing &amp; settlement on a T+0 basis using on-line bank transfer mechanism.</p>
Pakistan Mercantile Exchange has an Institutional shareholding and the shareholders include National Bank of Pakistan, Karachi Stock Exchange, Lahore Stock Exchange, Islamabad Stock Exchange, Pak Kuwait Investment Company (Pvt.) Limited, and Zarai Taraqiati Bank Ltd.</p>
akistan Mercantile Exchange recently changed its name from National Commodity Exchange Limited to better reflect its broad mandate and scope of activity to trade all types of futures contracts.</p><!--#post-# .post-->

<p><a href="{% static 'img/c1.jpg' %}"><img src="{% static 'img/c1.jpg' %}" alt="PMX Member ship" width="150" height="150" class="alignleft size-thumbnail wp-image-541" srcset="{% static 'img/c1.jpg' %}" sizes="(max-width: 150px) 100vw, 150px" /></a></p>
<p><a href="{% static 'img/c2.jpg' %}"><img src="{% static 'img/c2.jpg' %}" alt="Incarporation Certifacate" width="120" height="120" class="alignleft size-thumbnail wp-image-541" srcset="{% static 'img/c2.jpg' %}" sizes="(max-width: 150px) 100vw, 150px" /></a></p>
        
              
   </div>
  </div><!--#content-->
    </div><!--.container-->



</div>

{% include "footer.html" %}
    {% endblock %}