{% load static %}

{% block feature %}
  <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
           <img src="{%static 'img/pmex.png' %}">
            <h4 class="title"><a href="http://www.pmex.co/">PMEX</a></h4>
            <p class="description">PMEX is the first technology driven exchange in Pakistan.<br/>
              Trade in  DMC with different commodities
approved by PMEX. Gold & Crude Oil
are most popular
            </p>
          </div>

          <div class="col-lg-4 box box-bg">
        <img src="{%static 'img/sec.jpg' %}">
            <h4 class="title"><a href="https://www.secp.gov.pk/">SECP</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>

          <div class="col-lg-4 box">
          <img src="{%static 'img/meta5.png' %}">
            <h4 class="title"><a href="https://www.metatrader5.com/">Meta Trader 5</a></h4>
            <p class="description">
                Successful trading on financial markets begins with a comfortable and multi-functional trading platform. DMC is using MetaTrader 5 for the modern trade</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->  
    {% endblock %}