{% load static %}
{% block footer %} 



  
  <!--==========================
    Footer
  ============================-->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3><img src="{%static 'img/logo.png' %}"></h3>
            <p>Investing in DMC Markets derivative products carries significant risks and is not suitable for all investors. You could lose more than your deposits. You do not own, or have any interest in, the underlying assets. We recommend that you seek independent advice and ensure you fully understand the risks involved before trading</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'index' %}">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'about' %}">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'products' %}">Products</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{% url 'careers' %}">Careers</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p> <i class="fa fa-map-marker" style="color:#18d26e">&nbsp;&nbsp;  </i>
        2nd Floor 36-Z DHA Phase-3 <br>
LAHORE,PAKISTAN<br/>
             <i class="fa fa-phone" style="color:#18d26e">&nbsp;&nbsp;  </i> <strong>Phone:</strong> 042-3718 5340
<br>
             <i class="fa fa-envelope" style="color:#18d26e">&nbsp;&nbsp;   </i> <strong>Email:</strong> info@dmcmarkets.com
<br>
            </p>

            <div class="social-links" >
              <a href="https://www.facebook.com/dmcmarkets.co/?hc_ref=ARQ64xjsT65MYsnMkkTMVzL4uYYYFMjZ4wE0-TX1kd-93xHlDgJ6A_6pONujyRQ81BY&fref=nf" class="facebook"><i class="fa fa-facebook" style="color:#18d26e"></i></a>
           </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Location</h4>
            <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13611.255122483704!2d74.3792733!3d31.4743084!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4368b3014a4be53c!2sDMC+Markets+Pvt+Limited!5e0!3m2!1sen!2s!4v1520592902191" width="300" height="300" frameborder="0" style="border:0" class="map-responsive" allowfullscreen ></iframe>
    </div>
          
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>DMC Market Ptv Limited</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
      </div>
    </div>
  </footer><!-- #footer -->
{% endblock %} 
 