
{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<style>
.section-space60{padding-top: 60px;padding-bottom: 60px;}
.img-circle {
  border-radius: 50%;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #18d26e;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
</style>
</head>
<body onload="myFunction()"  style="margin: 0;">

<div id="loader" ></div>



<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("main").style.display = "block";
}
</script>


<!--==========================
    Intro Section
  ============================-->



  <main id="main"  style="display: none;" >

{% block base %} 
  {%include "base.html" %}  
  {% endblock %}


  {% block intro %} 
  {%include "intro.html" %}  
  {% endblock %}
    <!--==========================
      Featured Services Section
    ============================-->
  {% block feature %} 
  {%include "feature.html" %}  
  {% endblock %}

    <!--==========================
      About Us Section
    ============================-->


    <!--==========================
      Services Section
    ============================-->
  <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We facilitates the buying and selling of financial securities between a buyer and a seller. We serve a clientele of investors who trade public stocks and other securities, usually through the firm's agent stockbrokers.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Investment Ideas</a></h4>
            <p class="description">We bring ideas and result into existance. We think unique ideas and implement for better investment.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Guidance</a></h4>
            <p class="description">Provide clients a complete guidance related to business and let them know how and when they should invest in a commodity to make money.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Market Research</a></h4>
            <p class="description">We do research on international market to keep our clients up-to-date about ups and downs of market.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Market Watch</a></h4>
            <p class="description">Provide access of accounts to clients and give them proper knowlrdge to watch market so that they can trade themselves</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Meetings</a></h4>
            <p class="description">Organise indoor and outdoor meetings to provide clients the comfort and knowledge about market.</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->
 

    <!--==========================
      Call To Action Section
    ============================-->
  {% block callToAction %}
  {%include "callToAction.html" %}  
  {% endblock %} 

    <!--==========================
      Skills Section
    ============================-->
 

    <!--==========================
      Facts Section
    ============================-->
  {% block facts %}
  {%include "facts.html" %}  
  {% endblock %} 

    <!--==========================
      Portfolio Section
    ============================-->
  <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Products</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              
              <li data-filter="*" class="filter-active">All</li>
             
              <li data-filter=".filter-gold">Metals</li>
            
              <li data-filter=".filter-Energies">Energies</li>
          
              <li data-filter=".filter-Currencies">Currencies</li>
         
                <li data-filter=".filter-Indicies">Indices</li>
               
                <li data-filter=".filter-cotton">Cotton</li>
              
            </ul> 
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
          
                <img src="{%static 'img/Gold.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/Gold.jpg' %}" data-lightbox="portfolio" data-title="Metal 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Gold</a></h4>
                <p>Metal</p>
                
              </div>
            </div>
          </div>

      

          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
               
                <img src="{%static 'img/silver.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/silver.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Metal 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Silver</a></h4>
                <p>Metal</p>
              
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
              
                <img src="{%static 'img/Platinum.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/Platinum.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Metal 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Platinum</a></h4>
                <p>Metal</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Energies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
            
                <img src="{%static 'img/brent-oil.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/brent-oil.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Brent Oil</a></h4>
                <p>Energy</p>
                
              </div>
            </div>
          </div>
   <div class="col-lg-4 col-md-6 portfolio-item filter-Indicies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/sp.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/sp.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Indicies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">S & P</a></h4>
                <p>Indice</p>
                
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-Indicies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
               
                <img src="{%static 'img/nsd-100.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/nsd-100.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Indicies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Nasdaq</a></h4>
                <p>Indice</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Indicies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>i
                
                <img src="{%static 'img/DJIA.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/DJIA.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Indicies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">DJIA</a></h4>
                <p>Indice</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/c1.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/c1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#"USD</a></h4>
                <p>Currency</p>
              </div>
            </div>
          </div>
   <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/c2.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/c2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">JPY</a></h4>
                <p>Currency</p>
        
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/cad.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/cad.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">CAD</a></h4>
                <p>Currency</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
             
                <img src="{%static 'img/chf.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/chf.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">CHF</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
       
                <img src="{%static 'img/euro.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/euro.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">EUR</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
               
                <img src="{%static 'img/gbp.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/gbp.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">GBP</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
    
                <img src="{%static 'img/aud.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/aud.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">AUD</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
              
                <img src="{%static 'img/copper.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/copper.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Metal 3" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">copper</a></h4>
                <p>Metal</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Energies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/crude-oil.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/crude-oil.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Crude Oil</a></h4>
                <p>Energy</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Energies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
         
                <img src="{%static 'img/natural-gas.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/natural-gas.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 3" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Natural Gas</a></h4>
                <p>Energy</p>
                
              </div>
            </div>
          </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-cotton wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
              
                <img src="{%static 'img/cotton.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/cotton.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 3" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Cotton</a></h4>
                <p>Cotton</p>
                
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->

    <!--==========================
      Testimonials Section
    ============================-->
 

    <!--==========================
      Team Section
    ============================-->
  {% block team %}
  {%include "team.html" %}  
  {% endblock %}   

    <!--==========================
      Contact Section
    ============================-->
  
  {% block footer %} 
  {%include "footer.html" %}  
  {% endblock %}


  </main>

</body>
</html>
