{% load static %}

{% block products %}
{% include "header.html" %}
<br/>
<br/>
<br/>
<br/>
<br/>
<section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Products</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              
              <li data-filter="*" class="filter-active">All</li>
             
              <li data-filter=".filter-gold">Metals</li>
            
              <li data-filter=".filter-Energies">Energies</li>
          
              <li data-filter=".filter-Currencies">Currencies</li>
         
                <li data-filter=".filter-Indicies">Indices</li>
               
                <li data-filter=".filter-cotton">Cotton</li>
              
            </ul> 
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
          
                <img src="{%static 'img/Gold.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/Gold.jpg' %}" data-lightbox="portfolio" data-title="Metal 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Gold</a></h4>
                <p>Metal</p>
                
              </div>
            </div>
          </div>

      

          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
               
                <img src="{%static 'img/silver.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/silver.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Metal 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Silver</a></h4>
                <p>Metal</p>
              
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
              
                <img src="{%static 'img/Platinum.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/Platinum.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Metal 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Platinum</a></h4>
                <p>Metal</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Energies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
            
                <img src="{%static 'img/brent-oil.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/brent-oil.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Brent Oil</a></h4>
                <p>Energy</p>
                
              </div>
            </div>
          </div>
   <div class="col-lg-4 col-md-6 portfolio-item filter-Indicies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/sp.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/sp.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Indicies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">S & P</a></h4>
                <p>Indice</p>
                
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 portfolio-item filter-Indicies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
               
                <img src="{%static 'img/nsd-100.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/nsd-100.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Indicies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Nasdaq</a></h4>
                <p>Indice</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Indicies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>i
                
                <img src="{%static 'img/DJIA.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/DJIA.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Indicies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">DJIA</a></h4>
                <p>Indice</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/c1.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/c1.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#"USD</a></h4>
                <p>Currency</p>
              </div>
            </div>
          </div>
   <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/c2.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/c2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">JPY</a></h4>
                <p>Currency</p>
        
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/cad.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/cad.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">CAD</a></h4>
                <p>Currency</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
             
                <img src="{%static 'img/chf.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/chf.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">CHF</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
       
                <img src="{%static 'img/euro.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/euro.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">EUR</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
               
                <img src="{%static 'img/gbp.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/gbp.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">GBP</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Currencies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
    
                <img src="{%static 'img/aud.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/aud.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Currencies 2" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">AUD</a></h4>
                <p>Currency</p>
                
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-gold wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
              
                <img src="{%static 'img/copper.png' %}" class="img-fluid" alt="">
                <a href="{%static 'img/copper.png' %}" class="link-preview" data-lightbox="portfolio" data-title="Metal 3" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">copper</a></h4>
                <p>Metal</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Energies wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                
                <img src="{%static 'img/crude-oil.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/crude-oil.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 1" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Crude Oil</a></h4>
                <p>Energy</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Energies wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
         
                <img src="{%static 'img/natural-gas.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/natural-gas.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 3" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Natural Gas</a></h4>
                <p>Energy</p>
                
              </div>
            </div>
          </div>

       <div class="col-lg-4 col-md-6 portfolio-item filter-cotton wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
              
                <img src="{%static 'img/cotton.jpg' %}" class="img-fluid" alt="">
                <a href="{%static 'img/cotton.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Energies 3" title="Preview"><i class="ion ion-eye"></i></a>
                <!--<a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>-->
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Cotton</a></h4>
                <p>Cotton</p>
                
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->
    {% include "footer.html" %}
    {% endblock %}