{% load static %}

{% block services %}
{% include "header.html" %}
<br/>
<br/>
<br/>
<br/>
<br/>

<section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p>We facilitates the buying and selling of financial securities between a buyer and a seller. We serve a clientele of investors who trade public stocks and other securities, usually through the firm's agent stockbrokers.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Investment Ideas</a></h4>
            <p class="description">We bring ideas and result into existance. We think unique ideas and implement for better investment.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Guidance</a></h4>
            <p class="description">Provide clients a complete guidance related to business and let them know how and when they should invest in a commodity to make money.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Market Research</a></h4>
            <p class="description">We do research on international market to keep our clients up-to-date about ups and downs of market.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Market Watch</a></h4>
            <p class="description">Provide access of accounts to clients and give them proper knowlrdge to watch market so that they can trade themselves</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Meetings</a></h4>
            <p class="description">Organise indoor and outdoor meetings to provide clients the comfort and knowledge about market.</p>
          </div>

        </div>

      </div>
    </section><!-- #services -->
    {% include "footer.html" %}
    {% endblock %}