{% load static %}

{% block team %}
<section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>CEO Message</h3>
        </div>

        <div class="row" align="right">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/mutal.png' %}" class="img-circle" alt="">
            </div>
          </div>
          
    <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
             
              <div class="member-info">
              
              </div>
            </div>
          </div>


     <div class="col-md-6 fadeInUp" >
                    <div class="outline testimonial-block pinside30 mb30 fadeInUp" align="center">
                        <div class="testimonial-header fadeInUp" align="center">
                           
                            <!-- /.testimonial icon -->
                       </div>
                        <div  class="fadeInUp" ><br/><br/><br/><br/>
                            <p>“The future will only be as good as we build it now.

At DMC Markets Pvt Ltd, we have good vision and a handful of the best team mates with strong motivation. We move ahead. We spent half a decade building up the company, navigating through some economic landscapes and regulations to build up a strong global team with different financial strategies.

As we set course to become one of the best financial broker in Pakistan, I’m excited about what it will mean for our Clients, and ultimately to our business results.”</p>
                        </div>
                        <div class="customer-box">
                            <!-- customer-box -->
                           
                            <div class="testimonial-info">
                                <br/>
                                <h3 class="customer-name">Mutaal Waseem Butt</h3>
                                <h4 class="testimonial-meta">Chief Exective Officier</h4>
                            </div>
                        </div>
                    </div>
                </div>

         

        </div>

      </div>
    </section><!-- #team -->
    {% endblock %}