{% load static %}

{% block testimonials %}
<section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item active">
            <img src="{% static 'img/testimonial-1.jpg' %}" class="testimonial-img" alt="">
            <h3>Mutaal Butt</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Financial sector is among very fastest growing industries across the globe 
where competition has been equally growing gradually with the time.
 In this time when potential and scope to benefit from the financial sector is
 becoming difficult for end consumers, DMC Pvt. Ltd. has a single aim of familiarizing
 traders in Pakistan with the concept of Commodity Trading through PMEX.
              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/noImg.png' %}" class="testimonial-img" alt="">
            <h3>Sufyan Safdar</h3>
            <h4>Senior Marketing Manager</h4>
            <p>
              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
           <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/noImg.png' %}" class="testimonial-img" alt="">
            <h3>Sadia Hanif</h3>
            <h4>Human Resource Manager</h4>
            <p>
              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
           <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/noImg.png' %}" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
           <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/noImg.png' %}" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
           <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->
    {% endblock %}